.color-picker-panel .hue-slider .slider-track {
    background: linear-gradient(to right,
            hsl(0, 100%, 50%),
            hsl(60, 100%, 50%),
            hsl(120, 100%, 50%),
            hsl(180, 100%, 50%),
            hsl(240, 100%, 50%),
            hsl(300, 100%, 50%),
            hsl(360, 100%, 50%));
}

.color-picker-panel .saturation-slider .slider-track {
    background: linear-gradient(to right,
            hsla(var(--primary-h), 0%, 50%, 1),
            hsla(var(--primary-h), 100%, 50%, 1));
}

.color-picker-panel .lightness-slider .slider-track {
    background: linear-gradient(to right,
            hsla(var(--primary-h), var(--primary-s), 0%, 1),
            hsla(var(--primary-h), var(--primary-s), 50%, 1),
            hsla(var(--primary-h), var(--primary-s), 100%, 1));
}